.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.headline {
  color: #295073;
  border: 0.18rem solid #295073;
  letter-spacing: 0.1rem;
  display: inline-block;
  padding: 0.2rem 0.5rem;
}
