.container {
  height: 10rem;
  background-color: #000;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 40rem) {
  .navbar {
    flex-direction: row;
  }
}
